body {
  box-sizing: border-box;
}

.draggable {
  display: inline-block;
  position: absolute;
  background-color: rgba(50,50,50,0.10);
  border-radius: 5px;
  width: auto;
}

.button-container {
  display:inline-block; /*make this "none" to make the buttons disappear*/
  width: auto;
}

.info-font {
  display: inline-block;
  vertical-align: middle;
  font-size: 10pt;
  padding: 2px;
  margin: 0 0 0 10px;
}

.handle {
  cursor: move;
}

.window-icon {
  display: inline-block;
  width: 15px;
  float: right;
  height: auto;
  vertical-align: middle;
  padding: 2px;
}

.delete, .settings {
  cursor: pointer;
}

.inputter {
  display: block;
  border: 2px solid gray;
}

.button-row {
  display: inline-block;
  font-size: 9pt;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  padding: 0 3px;
  margin: 2px 0 3px 0;
  width: auto;
  border: 1px solid black;
  background-color: lightgray;
}

.remove-view {
  display: none;
}

.select-object {
  border: 2px solid red;
}